<div class="jumbotron">
  <h1>Kalenterisi osoite</h1>
  <div class="well calendar_url">
    <%= url("/cal/#{@referee_id || '&lt;tuomarinumerosi&gt;'}") %>
  </div>
  <p>Lisää tämä iCalendar-syöte <a href="https://support.google.com/calendar/answer/37100?hl=fi" title="Ohjeet syötteen lisäämiselle Google-kalenteriin">Google-kalenteriin</a> tai muuhun iCalendar-syötteitä tukevaan sovellukseen.</p>
</div>
