<p>Tulevien matsien ylläpitäminen kalenterissa on rankkaa, eikö vain? Pitää muistaa tarkkailla matseja viikon välein ja kirjoitella käsin tietoja ylös. Raskaaksi se menee kun haluaa vielä pistää ylös muut tuomarit, sarja ja pelaavat joukkueet.</p>
<p>Ohjelmasta löytyy kuitenkin hieno ominaisuus, nimittäin iCalendar-muodossa tuotavat tapahtumat.</p> <p><img src="/nayta_ottelulistalla_icalendar.png" width="294" height="118" alt="Kuva linkistä" /></p>
<p>Ongelmana tässä syötteessä on se, että kalenterisovellukset eivät osaa lukea sitä, koska TASO ei osaa tuottaa oikeanlaista kalenterikoodia. Lisäksi kyseinen syöte ei osaa asettaa matseille kestoa, mikä näyttää hassulta kalenterissa.</p>
<h3>Ongelmaan on olemassa lääke!</h3>
<p>Tämä palvelu on luotu tuottamaan järkevää, kalenteriohjelmien ymmärtämää tapahtumadataa kaikista <strong>tulevista</strong> matseista. Voit lisätä sen mihin tahansa kalenterisovellukseen, joka tukee kalenterisyötteitä.</p>
